body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #2b2b2b;
    color: #a19999;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 10px;
}

.footer-logo,
.footer-links,
.footer-contact,
.footer-social {
    flex: 1;
    margin: 0 10px;
}
.footer-links,
.footer-contact,
.footer-social {
    display : grid;
    margin-top: 90px;
    margin-left: 20px;
    grid-gap: grid-row-gap grid-column-gap;
}

.footer-logo .logo-placeholder {
    width: 190px;
    height: 50px;
    background-color: #5878a8;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-logo p {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-links h4,
.footer-contact h4,
.footer-social h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -80px;
    color:#ffffff !important
}

.footer-links ul,
.footer-contact ul,
.footer-social ul {
    list-style: none;
    padding: 0;
    margin-top: -20px;
}

.footer-links ul li ,
.footer-contact ul li,
.footer-social ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color:#a19999
}

.footer-links ul li a,
.footer-social ul li i {
    color: #ffffff;
    text-decoration: none;
}

.footer-social ul li i {
    margin-right: 10px;
    margin-bottom: -5px;
}
.footer-links li {
    margin-right: 10px;
    margin-inline: -20px;
}

.footer-social ul li {
    display: flex;
    align-items: center;
}
.footer-contact ul  {
    margin-top: -75px;
}
.footer-social ul  {
    margin-top: -75px;
}
.footer-links{
    margin-left: 70px;
}
.footer-links ul li a{
    color:#a19999;
}
